template(name='dashboard')
  +sideMenu

  +contentFor("headerTitle")
    h1.title Memri

  +contentFor("headerButtonRight")
    button.button.button-clear#logout
      | Logout

  +ionList
    +ionItem(path='hello' buttonRight=true class="item-icon-right")
      p Hello
      +ionIcon(icon='ios-arrow-forward' class="arrow-forward")
    +ionItem(path='hello' buttonRight=true class="item-icon-right")
      p Hello
      +ionIcon(icon='ios-arrow-forward' class="arrow-forward")

template(name='sideMenu')
  +contentFor("headerButtonLeft")
    button.button.button-clear.pull-left(data-ion-menu-toggle='left')
      if isAndroid
        +ionIcon(icon='android-more-vertical')
      else
        +ionIcon(icon='navicon')