template(name='login')
  //- +contentFor("headerTitle")
  //-   h1.title Memri

  +atForm

template(name='signup')
  //- +contentFor("headerTitle")
  //-   h1.title Memri

  +atForm

template(name='forgotpassword')
  //- +contentFor("headerTitle")
  //-   h1.title Memri
  +atForm
  .text-center
    a(href='{{pathFor "signin"}}') Cancel