template(name='layout')
  +ionBody
    +ionSideMenuContainer
      +ionSideMenus
        +ionSideMenu
          +leftMenu
        +ionSideMenu(side="right")
          +rightMenu
      +ionSideMenuContent
        +ionNavBar
        +ionNavView
          +ionView
            +ionContent
              +yield

template(name='layoutLoggedOut')
  +ionBody
    +nav
    +ionContent
      +yield
